* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: #F2F2F2;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  height: 100vh;
  width: 100%;
}

.hero {
  background-image: url("../img/hero.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__nav {
  height: 100%;
}

.hero__content {
  color: #F2F2F2;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  letter-spacing: 3px;
}

.hero__content h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.hero__content h2 {
  font-size: 1.8em;
}

.hero__content h3 {
  font-size: 1.6em;
}

.hero__logo {
  position: absolute;
  top: 5%;
  right: 5%;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.nav__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav__link {
  display: block;
  line-height: 4;
  padding: 0 40px;
  color: #F2F2F2;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 18px;
}

.nav__link:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about {
  height: auto;
  color: #986F39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5%;
  position: relative;
  overflow: hidden;
}

.about:after {
  -webkit-transform: skew(-0.03turn, 12deg);
          transform: skew(-0.03turn, 12deg);
  content: 'web design <3';
  font-size: 300px;
  color: white;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 10%;
  right: 0;
  z-index: -1;
  line-height: .8;
}

.about__title {
  margin: 100px 0;
  font-size: 56px;
}

.about__p {
  line-height: 1.6;
  text-align: justify;
  font-size: 24px;
  margin: 50px 0;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__box {
  margin-top: 30px;
  border: 2px solid red;
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__img {
  width: 100px;
}

.skills__info {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */