// variables

$color1: #986F39;
$color2: #495B36;
$white: #F2F2F2;

// reset

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;

}

body {
   font-family: 'Roboto', sans-serif;
   cursor: default;
   background-color: $white;
   max-width: 1920px;
   margin: 0 auto;
   overflow-x: hidden;
   
}

.container {
   overflow-x: hidden;
}

a {
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
}

li {
   list-style: none;
}


.section {
   height: 100vh;
   width: 100%;
}

.title {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 60px;
   text-transform: uppercase;
   text-align: center;

   @media(max-width: 500px) {
      font-size: 30px;
   }
}

// HERO

.hero {
   background-image: url('../img/hero.png');
   background-position: center center;
   background-size: cover;   
   position: relative;
   display: flex;

   &__nav {
      height: 100%;

      @media(max-width: 1024px) {
         display: none;
      }
   }

   &__content {
      color: $white;
      font-size: 40px;
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.6;
      letter-spacing: 3px;

      h1 {
         font-size: 2em;
         text-transform: uppercase;
         text-align:center;

         @media(max-width: 500px) {
            font-size: 1.5em;
         }
      }

      h2 {
         font-size: 1.8em;
         text-align:center;

         @media(max-width: 500px) {
            font-size: 1.3em;
         }
      }

      h3 {
         font-size: 1.6em;
         text-align:center;

         @media(max-width: 500px) {
            font-size: 1em;
         }
      }
   }

   &__logo {
      position: absolute;
      top: 5%;
      right: 5%;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 700;
      font-family: 'Press Start 2P', cursive;
      border: 3px solid rgba(255, 255, 255, 0.5);
      padding: 10px;
   }
}

// NAV

.nav {

   &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 50px;
      background-color: rgba(0, 0, 0, 0.6);
   }
   
   &__link {
      display: block;
      line-height: 4;
      padding: 0 40px;
      color: $white;   
      text-transform: uppercase;
      transition: all .3s;
      font-size: 18px;
      
      &:hover {
         transform: translate(-10px, -10px);
      }
   }

}

// ABOUT

.about {
   height: auto;
   color: $color1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 5% 10% 10%;
   position: relative;
   overflow: hidden;

   &:after {
      transform: skew(-0.03turn, 12deg);
      content: 'frontend <3';
      font-size: 300px;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 30%;
      left: 5%;
      z-index: -1;
      line-height: .8;
      font-style: italic;

      @media(max-width: 1024px) {
         display: none;
      }
   }

   &__title {
      margin: 100px 0;
   }

   &__p {
      line-height: 1.6;
      text-align: justify;
      font-size: 24px;
      margin: 50px 0;
   }
}

// SKILLS

.skills {
   display: flex;
   justify-content: space-around;
   align-items: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   color: $color2;
   position: relative;

   &:after {
      transform: skew(-0.03turn, 12deg);
      content: 'skills';
      font-size: 500px;
      letter-spacing: 3px;
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 30%;
      left: 15%;
      z-index: -1;
      line-height: .8;
      font-style: italic;

      @media(max-width: 1024px) {
         display: none;
      }
   }

   &__title {
      flex-basis: 100%;
      text-align: center;
      padding: 100px 0 50px;
   }

   &__box {
      margin-top: 100px;
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      @media(max-width: 500px) {
         margin-top: 50px;
      }

      &--small {
         width: 15vw;

         @media(max-width: 500px) {
            width: 30vw;
         }

         .skills__img {
            width: 50px;

            @media(max-width: 1024px) {
               width: 30px;
            }
         }

         .skills__info {
            font-size: 20px;

            @media(max-width: 500px) {
               font-size: 16px;
            }
         }
      }
   }
   
   &__img {
      width: 100px;

      @media(max-width: 1024px) {
         width: 50px;
      }
   }
   
   &__info {
      font-size: 30px;
      font-weight: 700;
      padding: 10px;

      @media(max-width: 500px) {
         font-size: 20px;
      }
   }
}

// PROJECTS

.projects {
   display: flex;
   flex-direction: column;   
   width: 100%;
   margin: 150px auto 50px;
   background-color: lighten($color2, 10%);
   padding: 150px 100px;
   color: $white;

   @media(max-width: 500px) {
      padding: 3%;   
   }

   &__title {
      width: 100%;
      text-align: center;
      padding-bottom: 100px;
      color: $white;

      @media(max-width: 500px) {
         margin-top: 50px;
      }

   }

   &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      
   }
}

.project {
   display: flex;
   margin: 0 auto 150px;
   // box-shadow: 0 12px 32px 4px rgba(white, .3);
   filter: drop-shadow(16px 16px 10px #222);

   background-color: #353E24;
   min-width: 100%;

   @media(max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2%;
   }
   @media(max-width: 500px) {
      margin: 2%;
   }

   
   &--inverse {
      flex-direction: row-reverse;

      @media(max-width: 1024px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 2%;
      }
   }

   &__img {
      display: block;
      max-width: 600px;
      padding: 2%;
      transition: .3s;

      img {
         width: 100%;

         
      }

      &:hover {
         transform: scale(1.05);         
         filter: brightness(1.1);
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0% 2%;

      & > * {
         @media(max-width: 1024px) {
            margin: 4%;
         }  
      }
      @media(max-width: 1024px) {
         flex-direction: column;
         align-items: space-evenly;
         justify-content: space-evenly;
         padding: 2%;
      }

      @media(max-width: 500px) {

         max-width: 100%;
         &>div {
            max-width: 80%;
            display: flex;
         }      
      }
   }

   &__title {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 32px;
   }

   &__desc {
      font-size: 24px;
      line-height: 1.6;

      @media(max-width: 500px) {
         font-size: 18px;
      }
   }

   &__tech {
      font-style: italic;
   }

   &__links {
      background-color: lighten($color1, 10%);
      padding: 10px 60px;
      border-radius: 10px;
      margin-right: 60px;
      color: $white;
      transition: background-color .3s;

      @media(max-width: 500px) {
         margin-right: 10px;
         padding: 10px 40px;

      }

      &:hover {
         background-color: lighten($color1, 20%);
      }
   }
}

.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;

   &__socials {
      display: flex;
      justify-content: center;
      align-content: center;
   }

   &__link {
      display: block;
      color: black;
      margin: 30px;
      padding: 15px;
      border: 2px solid black;
      border-radius: 50%;
      transition: .3s;

      &:hover {
         background-color: #222;
         color: white;
         border: 2px solid #222;
      }
   }
}

.footer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 60px 0 20px;

   &__add {
      color: rgb(223, 223, 223);

      a {
         color: rgb(223, 223, 223);
      }
   }
}