* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: #F2F2F2;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  height: 100vh;
  width: 100%;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
  }
}

.hero {
  background-image: url("../img/hero.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__nav {
  height: 100%;
}

@media (max-width: 1024px) {
  .hero__nav {
    display: none;
  }
}

.hero__content {
  color: #F2F2F2;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  letter-spacing: 3px;
}

.hero__content h1 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 500px) {
  .hero__content h1 {
    font-size: 1.5em;
  }
}

.hero__content h2 {
  font-size: 1.8em;
  text-align: center;
}

@media (max-width: 500px) {
  .hero__content h2 {
    font-size: 1.3em;
  }
}

.hero__content h3 {
  font-size: 1.6em;
  text-align: center;
}

@media (max-width: 500px) {
  .hero__content h3 {
    font-size: 1em;
  }
}

.hero__logo {
  position: absolute;
  top: 5%;
  right: 5%;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

.nav__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav__link {
  display: block;
  line-height: 4;
  padding: 0 40px;
  color: #F2F2F2;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 18px;
}

.nav__link:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

.about {
  height: auto;
  color: #986F39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5% 10% 10%;
  position: relative;
  overflow: hidden;
}

.about:after {
  -webkit-transform: skew(-0.03turn, 12deg);
          transform: skew(-0.03turn, 12deg);
  content: 'frontend <3';
  font-size: 300px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: -1;
  line-height: .8;
  font-style: italic;
}

.about__title {
  margin: 100px 0;
}

.about__p {
  line-height: 1.6;
  text-align: justify;
  font-size: 24px;
  margin: 50px 0;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  color: #495B36;
  position: relative;
}

.skills:after {
  -webkit-transform: skew(-0.03turn, 12deg);
          transform: skew(-0.03turn, 12deg);
  content: 'skills';
  font-size: 500px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: -1;
  line-height: .8;
  font-style: italic;
}

.skills__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  padding: 100px 0 50px;
}

.skills__box {
  margin-top: 100px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__box--small {
  width: 15vw;
}

.skills__box--small .skills__img {
  width: 50px;
}

@media (max-width: 1024px) {
  .skills__box--small .skills__img {
    width: 30px;
  }
}

.skills__box--small .skills__info {
  font-size: 20px;
}

.skills__img {
  width: 100px;
}

@media (max-width: 1024px) {
  .skills__img {
    width: 50px;
  }
}

.skills__info {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 150px auto 50px;
  background-color: #637b49;
  padding: 150px 100px;
  color: #F2F2F2;
}

@media (max-width: 500px) {
  .projects {
    padding: 3%;
  }
}

.projects__title {
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  color: #F2F2F2;
}

.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 150px;
  -webkit-filter: drop-shadow(16px 16px 10px #222);
          filter: drop-shadow(16px 16px 10px #222);
  background-color: #353E24;
  min-width: 100%;
}

@media (max-width: 1024px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
  }
}

.project--inverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .project--inverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
  }
}

.project__img {
  display: block;
  max-width: 600px;
  padding: 2%;
  -webkit-transition: .3s;
  transition: .3s;
}

.project__img img {
  width: 100%;
}

.project__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0% 2%;
}

@media (max-width: 1024px) {
  .project__content > * {
    margin: 4%;
  }
}

@media (max-width: 1024px) {
  .project__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2%;
  }
}

@media (max-width: 500px) {
  .project__content > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.project__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}

.project__desc {
  font-size: 24px;
  line-height: 1.6;
}

@media (max-width: 500px) {
  .project__desc {
    font-size: 18px;
  }
}

.project__tech {
  font-style: italic;
}

.project__links {
  background-color: #bb8a49;
  padding: 10px 60px;
  border-radius: 10px;
  margin-right: 60px;
  color: #F2F2F2;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.project__links:hover {
  background-color: #c9a26e;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact__link {
  display: block;
  color: black;
  margin: 30px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact__link:hover {
  background-color: #222;
  color: white;
  border: 2px solid #222;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 20px;
}

.footer__add {
  color: #dfdfdf;
}

.footer__add a {
  color: #dfdfdf;
}
/*# sourceMappingURL=style.css.map */